body {
    font-family: 'Courier New';
    font-size: 20px;
    text-align: center;
}

form {
    width: 450px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

label {
    font-family: 'Courier New';
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
}

input {
    font-family: 'Courier New';
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px;
    width: calc(100% - 20px);
}

#SearchBtn,
#DetailBtn {
    font-family: 'Courier New';font-size: 18px;
    color: white;
    background-color: #4caf50;
    padding: 10px; margin-top: 10px;
    border: none; border-radius: 4px;
    cursor: pointer;
    width: calc(100% - 7.5px);
    display: inline-block;
}

#SearchBtn:hover, #DetailBtn:hover{
    background-color: #33a23a;
}

#result {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 800px; /* Adjust the maximum width as needed */
    background-color: #f0f0f0;
    padding: 15px;
}
